<h1>New joke</h1>
<form action="" method="POST">
    <label for="jokes">Joke:</label>
    <input type="text" name="jokes" id="jokes"/>
    <br/>
    <label for="joke_type">Joke type:</label>
    <input type="text" name="joke_type" id="joke_type"/>
    <br/>
     <input type="submit" value="New Joke"/>
</form>