<!DOCTYPE html>
<html>
<head>
    <h1>Dad Joker</h1>
    <h3>Keep track of your dad jokes</h3>
</head>
<body>
<ul>
    <%@jokes.each do |joke|%>
        <%if joke.user_id == @current_user.id%>
            <li><a href="/jokes/show/<%= joke.id%>"><%=joke.jokes%></a><a href="/jokes/edit/<%= joke.id%>">   Edit</a> </li>
        <%end%>
    <%end%>
</ul>

</body>


</html>